h1 {
    text-align: center;
    font-size: 24px;
}
#onep{
    font-size: 120%;
}
.one {
    color: brown;
}
.one:visited{
    color: green;
}
.two{
    color: magenta;
}
.two:visited{
    color: aqua;
}
.three{
    color: yellow;
}
.three:visited{
    color: orangered;
}
.four{
   color: deeppink;
}
.four:visited{
    color: lime;
}
.zagolovok {
    text-align: center;
    font-size: 22px;
}
.golovna {
    font-style: italic;
}
#zmist {
    text-align: center;
}
.linkbiography:link {
    text-decoration: none;
    background-color: blue;
    color: yellow;
    border: 2px solid black;
    display: block;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
.linkbiography:hover, .linkbiography:active {
    background-color: magenta;
}
.linkbiography:visited {
    background-color: yellow;
    border: 2px solid black;
    color: blue;
}
.linkbiography:hover, .linkbiography:active {
    background-color: magenta;
}
.zagolovokrozdilu {
    font-size: 120%;
}
.abzac1 {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 120%;
}
.abzac2 {
    background-color: rgb(120, 120, 218);
    color: darkred;
    border-radius: 5px;
    font-size: 120%;
}
.abzac3 {
    background-color: #FFA07A;
    color: green;
    border-radius: 5px;
    font-size: 120%;
}
.abzac4 {
    background-color: orange;
    color: black;
    border-radius: 5px;
    font-size: 120%;
}
.abzac5 {
    background-color: greenyellow;
    color: brown;
    border-radius: 5px;
    font-size: 120%;
}
.dozmistu {
    font-weight: bold;
}
#yverh {
     text-transform: uppercase;
}
h2 {
    text-align: center;
}
.spusok li:nth-child(odd){
    background-color: gray;
}
.spusok li:nth-child(even) {
    background-color: white;
} 
.numspusok li:nth-child(4){
    background-color: greenyellow;
}
.numspusok li:nth-child(3){
    cursor: pointer;
}
.numspusok li:nth-child(5){
    cursor: pointer;
}
table{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    border-spacing: 10px 15px;
}
.cursor{
    background-color: gray;
}
.tablezagolovok{
    background-color: green;
    color: brown;
    font-weight: bold;
}
.vidomosti {
    text-align: right;
}
#zagolgallery {
    text-align: center;
    font-size: 20px;
}
.photo1 {
    text-align: center;
    font-size: 120%;
}
.photo2 {
    text-align: center;
    font-size: 180%;
}
.photo3 {
    text-align: center;
    font-size: 210%;
}
img{
    display: block;
    margin: auto;
}
