/*
.item {
    position: relative;
   }
  */ 
   .item-wrap {
    position: relative;
    border: 2px solid black;
    margin: 5px;
    background-color: rgb(155, 184, 155);
   }
   
   .item-wrap div {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 5px;
    width: 30%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
   }
   
   .a {
    background-color: orange;
    border: 2px solid black;
   }
   
   .b {
    background-color: fuchsia;
    color: white;
    border: 2px solid black;

   }
   
   .c {
    background-color: pink ;
    border: 2px solid black;
   }
   
   
   .item-wrap p {
    margin: 50px 20px 20px 20px;
   }
   
   h1 {
    text-align: center;
   }
  .flex-container{
    display: flex;
  }
  .flex-item{
    flex-grow: 1;
  }
  @media(max-width: 768px){
    .flex-container{
        flex-direction: column;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .flex-container{
        flex-wrap: wrap;
    }
    .flex-item{
        width: 50%;
    }
    .item-1{
        align-self: stretch;
    }
    .item-2{
        align-self: baseline;
    }
    .item-3{
        width: 100%;
    }
  }